@font-face {
    font-family: "Chalet-Paris";
    src: url(../fonts/Chalet-ParisNineteenSixty.otf);
}
@font-face {
    font-family: "Chalet-NY";
    src: url(../fonts/Chalet-NewYorkNineteenSixty.otf);
}

@font-face {
    font-family: "8bit";
    src: url(../fonts/8bitoperator.ttf);
}

h1 {
    font-family: "Chalet-Paris";
    font-size: 2.5em;
}

h3 {
    font-family: "Chalet-NY";
}

.main-header {
    padding-top: 10px;
}

.main-header nav a:hover {
    color: #EF4836 !important;
}

.container {
    width: auto;
    max-width: 680px;
}

.active {
    color: #EF4836 !important;
}